---

image: python:3.11

stages:
  - test
  - deploy

variables:
  ANSIBLE_FORCE_COLOR: "true"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip/

before_script:
  - pip install --upgrade pip
  - pip install ansible-core ansible-lint

test:
  stage: test
  script:
    - ansible-lint .
