---

- name: Generate TXT Records | Create TXT record using alias on Cloudflare (base).
  community.general.cloudflare_dns:
    api_token: "{{ acme_cf_api_token }}"
    zone: "{{ domain_alias_zone | default(domain) }}"
    record: "_acme-challenge"
    type: TXT
    value: "{{ __domain_txt_value }}"
    state: present
    solo: false
  register: base_txt_generate_results
  retries: 3
  delay: 20

- name: Generate TXT Records | Create TXT record using alias on Cloudflare (wildcard).
  community.general.cloudflare_dns:
    api_token: "{{ acme_cf_api_token }}"
    zone: "{{ domain_alias_zone | default(domain) }}"
    record: "_acme-challenge"
    type: TXT
    value: "{{ __domain_wildcard_txt_value }}"
    state: present
    solo: false
  register: wildcard_txt_generate_results
  retries: 3
  delay: 20
