---

- name: Cleanup TXT Records | Delete TXT record using alias on Cloudflare (base).
  community.general.cloudflare_dns:
    api_token: "{{ acme_cf_api_token }}"
    zone: "{{ domain_alias_zone | default(domain) }}"
    record: "_acme-challenge"
    value: "{{ __domain_txt_value }}"
    type: TXT
    state: absent
  when:
    - __challenge_data | length > 0
    - (__domain_txt_value | length) > 0
  retries: 3
  delay: 20

- name: Cleanup TXT Records | Delete TXT record using alias on Cloudflare (wildcard).
  community.general.cloudflare_dns:
    api_token: "{{ acme_cf_api_token }}"
    zone: "{{ domain_alias_zone | default(domain) }}"
    record: "_acme-challenge"
    value: "{{ __domain_wildcard_txt_value }}"
    type: TXT
    state: absent
  when:
    - __challenge_data | length > 0
    - (__domain_wildcard_txt_value | length) > 0
  retries: 3
  delay: 20
